@{
    ViewData["Title"] = "Todo - Win the battle against obligations";
}
@{
    ViewData["Message"] = "Log in to use it.";
}

<h1 class="text-center">
    @ViewData["Title"]
</h1>

<h3 class="text-center">
    @ViewData["Message"]
</h3>